In [35]:
from main import df2

In [36]:
df2

,Customer_ID,Name,Annual_Income,Monthly_Inhand_Salary,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance,Credit_Score
0,CUS_0xd40,AaronMaashoh,1911412.0,1824.843333,3.0,3.0,7.0,1127.0,4.0,,80998.0,26.822620,265.0,No,49.574949,8.041530e+15,3.124941e+16,Good
1,CUS_0xd40,AaronMaashoh,1911412.0,0.000000,3.0,-1.0,0.0,1127.0,4.0,Good,80998.0,31.944960,265.0,No,49.574949,1.182802e+16,2.846292e+16,Good
2,CUS_0xd40,AaronMaashoh,1911412.0,0.000000,3.0,3.0,7.0,0.0,4.0,Good,80998.0,28.609352,267.0,No,49.574949,8.169952e+13,3.312099e+15,Good
3,CUS_0xd40,AaronMaashoh,1911412.0,0.000000,3.0,5.0,4.0,627.0,4.0,Good,80998.0,31.377862,268.0,No,49.574949,1.994581e+15,2.234513e+16,Good
4,CUS_0xd40,AaronMaashoh,1911412.0,1824.843333,3.0,6.0,0.0,1127.0,4.0,Good,80998.0,24.797347,269.0,No,49.574949,4.142015e+16,3.414892e+16,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,Nicks,3962899.0,3359.415833,7.0,23.0,7.0,115.0,3.0,,50238.0,34.663572,378.0,No,35.104023,6.097133e+15,4.798662e+16,Poor
99996,CUS_0x942c,Nicks,3962899.0,3359.415833,7.0,18.0,7.0,115.0,3.0,,50238.0,40.565631,379.0,No,35.104023,5.418595e+15,4.966516e+14,Poor
99997,CUS_0x942c,Nicks,3962899.0,3359.415833,5729.0,27.0,6.0,115.0,3.0,Good,50238.0,41.255522,380.0,No,35.104023,2.402848e+15,5.168091e+15,Poor
99998,CUS_0x942c,Nicks,3962899.0,3359.415833,7.0,20.0,0.0,115.0,3.0,Good,50238.0,33.638208,381.0,No,35.104023,2.516726e+16,3.191650e+15,Standard
99999,CUS_0x942c,Nicks,3962899.0,3359.415833,7.0,18.0,6.0,115.0,3.0,Good,50238.0,34.192463,382.0,No,35.104023,1.671639e+15,3.936737e+15,Poor